* {
    background-color: #E0FFFF;
}

header {
    width: 100%;
	display: flex;
    text-align: center;
    justify-content: space-between;
}

header .left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

#image-logo {
    width: 100%;
}

header .right {
    width: 80%;
    margin: 10px 5px;
}

#banner {
    width: 100%;
    border: 5px;
}

#image-banner {
    width: 100%;
}

#menu {
    display: flex;
    border: 5px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}

li > a:link, a:visited {
    background-color: #00BFFF;
    padding: 10px;
    border: 10px;
    border-radius: 30px;
    padding: 8px 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

li > a:hover, a:active {
    background-color: white;
    color: #00BFFF;
    border: black 1px solid;
}

.historia {
    margin: 3px 15px;
}

#image-historia {
    width: 280px;
    margin: 3px 15px;
}

.artigo {
    display: flex;
}

.title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
}

#texto p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 3px 10px;
    text-align: justify;
}