* {
    background-color: #E0FFFF;
}

header {
    width: 100%;
	display: flex;
    text-align: center;
    justify-content: space-between;
}

header .left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

#image-logo {
    width: 100%;
}

header .right {
    width: 80%;
    margin: 10px 5px;
}

#banner {
    width: 100%;
    border: 5px;
}

#image-banner {
    width: 100%;
}

#menu {
    display: flex;
    border: 5px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #58D3F7;  
    padding: 10px;  
}

li > a:link, a:visited {
    background-color: #58D3F7;
    padding: 10px;
    border: 10px;
    padding: 8px 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

li > a:hover, a:active {
    background-color: white;
    color: #58D3F7;
}

.quadro-azul {
    margin: 20px;
    padding: 20px 10px;
    background-color: #58D3F7;
}

#image {
    background-color: transparent;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

#image-historia {
    width: 280px;
    margin: 0px 15px;
    background-color: transparent;
}

#image-repre {
    width: 165px;
}

#image-contato {
    width: 50px;
}

#image-promo {
    width: 400px;
}

#artigo {
    display: flex;
    background-color: transparent;
}

.title {
    background-color: transparent;
}

.title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    margin: 5px 5px;
    padding: 15px 20px;
    background-color: transparent;
}

#promoção .title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    margin: 5px 5px;
    padding: 15px 20px;
    background-color: transparent;
    text-align: center;
}

#representantes #texto {
    background-color: transparent;
    margin: 10px 5px;
    flex-wrap: wrap;
    width: 220px;
}

#artigo #texto {
    background-color: transparent;
    margin: 10px 5px;
}

#texto h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: transparent;
    font-weight: bold;
}

#texto p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    background-color: transparent;
}

#texto p span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: justify;
    background-color: transparent;
}

#representantes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: transparent;
}

#person {
    background-color: transparent;
    display: flex;
}

#contato {
    background-color: transparent;
    padding: 10px 15px;
    display: flex;
}

#contato #image {
    background-color: transparent;
}

#contato #texto {
    background-color: transparent;
}

#promoção {
    background-color: transparent;
}

#promos {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}